<div class="span9">

<div class="hero-unit">
<h3>Flaws by Classification</h3>
  <%= bar_chart (@fbchash) %>
</div>

<div class="hero-unit">
<h3>Flaws by Priority</h3>
  <%=  pie_chart @fbphash %>
</div>

<div class="hero-unit">
<h3>Flaws by Determined State</h3>
  <%=  pie_chart @fbshash %>
</div>

</div>