<div class="hero-unit span9">
	<h1>Welcome to SEC Adonis Security Reporter</h1>
		<p>Static Analysis Findings Reports and Management</p>
			<p>
				<%= link_to "Go!", classifications_path,  :class => 'btn btn-primary btn-large'  %>
			</p>
</div>
