<div class="hero-unit span9">
	<h1>Welcome to Code Security Tracker</h1>
	<p>Static Analysis Findings Management</p>
	<p>Version 0.2 (Code name: JC)</p>
	<div>	
		<%= link_to "Manage Findings", classifications_path,  :class => 'btn btn-primary btn-large'  %>
	</div>
</div>
